@model CarRentalSystem.Web.ViewModels.Rent.RentalFormView

<div class="modal-backdrop" id="modalBackdrop" style="display: none;"></div>


<div class="modal" id="rentModal" style="display: none;">
	<div class="modal-dialog modal-dialog-centered">
		<form asp-area="" asp-controller="Car" asp-action="Rent" asp-route-id="@Model.CarId" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalToggleLabel">Contact information</h5>
					<button type="button" id="closeButton" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row mb-4">
						<div class="col">
							<div>
								<input asp-for="@Model.PhoneNumber" type="text" id="numberLabel" class="form-control" />
								<label class="form-label hide-label l1" for="numberLabel">Phone number</label>
							</div>
						</div>
						<div class="col">
							<div>
								<input asp-for="@Model.Deposit" type="text" id="depositLabel" class="form-control" />
								<label class="form-label hide-label l2" for="depositLabel">Deposit</label>
							</div>
						</div>
					</div>

					<div class="mb-4">
						<input asp-for="@Model.Days" id="daysLabel" class="form-control"/>
						<label class="form-label hide-label l3" for="daysLabel">Days</label>
					</div>

					<div class="mb-4">
						<input asp-for="@Model.Address" id="addressLabel" class="form-control" />
						<label class="form-label hide-label l4" for="addressLabel">Address</label>
					</div>

				</div>

				<button class="btn btn-primary btn-sml" id="finishButton" type="submit">Finish</button>
			</div>
		</form>
	</div>
</div>

<script>
	const openModalButton = document.getElementById('openRentModal');
	const modal = document.getElementById('rentModal');
	const closeButton = document.getElementById('closeButton');
	const modalBackdrop = document.getElementById('modalBackdrop');
	const formInputs = document.querySelectorAll('.form-control');

	formInputs.forEach(input => {
		input.addEventListener('focus', () => {
			const label = input.parentElement.querySelector('.form-label');
			label.classList.add('hide');
		});

		input.addEventListener('blur', () => {
			const label = input.parentElement.querySelector('.form-label');
			if (!input.value) {
				label.classList.remove('hide');
			}
		});
	});
	openModalButton.addEventListener('click', () => {
		openModal(modal);
	});

	closeButton.addEventListener('click', () => {
		closeModal(modal);w
	});

	modalBackdrop.addEventListener('click', () => {
		closeModal(modal);
	});


	function openModal(modal) {
		modal.style.display = 'block';
		modalBackdrop.style.display = 'block';
	}

	function closeModal(modal) {
		modal.style.display = 'none';
		modalBackdrop.style.display = 'none';
	}
</script>

<style>
	.modal-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black color */
		z-index: 1040; /* A lower value than the modal to appear below it */
		display: none;
	}


	.modal.fade.show .modal-dialog {
		transform: translateY(0);
	}

	.form-check-input {
		height: 1em;
	}

	.btn-sml {
		padding: 8px 15px;
	}

	.hide-label {
		display: block;
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
		pointer-events: auto;
	}

		.hide-label.hide {
			opacity: 0;
			pointer-events: none;
		}


	.modal-header .btn-close {
		padding: 1rem;
		margin: 1rem;
	}

	.close:hover {
		color: #000;
		text-decoration: none;
		opacity: .75;
	}

	.close {
		box-sizing: content-box;
		width: 1em;
		height: 1em;
		padding: .25em;
		color: #000;
		background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
		border: 0;
		border-radius: .25rem;
		opacity: .5;
	}

	.form-label {
		position: absolute;
		top: 0;
		max-width: 90%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-top: 1.4rem;
		pointer-events: none;
		transform-origin: 0 0;
		transition: all .2s ease-out;
		color: rgba(0,0,0,.6);
		margin-bottom: 0;
		box-sizing: border-box;
	}

	.l1 {
		left: 1.6rem;
	}

	.l2 {
		left: 17.1rem;
	}

	.l3 {
		padding-top: 5.3rem;
		left: 1.6rem;
	}

	.l4 {
		padding-top: 9.1rem;
		left: 1.6rem;
	}
</style>

