@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarRentalSystem.Web.ViewModels.Car.CarAllViewModel

<div class="col-md-4">
	<div class="card mb-3" style="height: 97%">
		<img class="card-img-top" style="height: 361px;" src="@Model.ImageUrl" alt="Car Image">
		<div class="card-body text-center">
			<h4>@Model.Make</h4>
			<h6>Model: <b>@Model.Model</b></h6>
			<h6>
				Price Per Day:
				<b>@($"{Model.PricePerDay:f2}") BGN</b>
			</h6>
			<h6>(@(Model.IsRented ? "Rented" : "Not Rented"))</h6>
			<br />
			<a asp-area="Admin" asp-controller="Car" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-success upper-btns">Add</a>
			<a asp-area="Admin" asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning upper-btns">Edit</a>
			<form asp-area="Admin" asp-controller="Car" asp-action="Delete" asp-route-id="@Model.Id">
				<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete: @Model.Model?')" />
			</form>
		</div>
	</div>
</div>

<style>
	.upper-btns {
		padding: 7px 63px;
		margin-right: 0.2rem;
		margin-left: 0.2rem;
		margin-bottom: 9px;
	}

	.card-body.text-center {
		box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 15px -3px, rgba(0, 0, 0, 0.04) 0px 10px 20px -2px;
		border-radius: 0.9rem;
	}

	.btn.btn-danger {
		padding: 5px 141px;
	}

	.card-img-top {
		box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 15px -3px, rgba(0, 0, 0, 0.04) 0px 10px 20px -2px
	}
</style>