@model AllCarsQueryModel

@{
	ViewBag.Title = "All Cars";
}

<h2 class="text-center fw-normal">@ViewBag.Title</h2>
<hr />
<form method="get">
	<div class="row" style="margin-left: 8em">
		<div class="form-group col-md-3 d-flex justify-content-between">
			<div class="form-group" style="margin-left: 12rem;">
				<label asp-for="Make"></label>
				<select asp-for="Make" class="form-control">
					<option value="">All</option>
					@foreach (var category in Model.Makes)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>

			<div class="form-group" style="">
				<label asp-for="Transmission"></label>
				<select asp-for="Transmission" class="form-control">
					<option value="">None</option>
					@foreach (var transmission in Model.Transmissions)
					{
						<option value="@transmission">@transmission</option>
					}
				</select>
			</div>
		</div>
		<div class="form-group col-md-3">
			<label asp-for="SearString"></label>
			<input asp-for="SearString" class="form-control" placeholder="...">
		</div>
		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="CarSorting"></label>
				<select asp-for="CarSorting" class="form-control">
					<option value="0">None</option>
					<option value="1">Newest</option>
					<option value="2">Oldest</option>
					<option value="3">Price (Ascending)</option>
					<option value="4">Price (Descending))</option>
					<option value="5">Not rented first</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group p-2">
				<input type="submit" value="Search" class="btn btn-primary btn-sm" style="font-size: 12px !important; padding: 10px 10px !important; margin-top: 1.1em" />
			</div>
		</div>
	</div>
</form>
@{
	int previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}
	int maxPage = (int)Math.Ceiling((double)Model.TotalCarsCount /
	Model.CarsPerPage);
}
<div class="row mb-5">
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : null) ms-2" style="font-size: 12px; padding: 13px 13px; height:fit-content"
		   asp-controller="Car"
		   asp-action="All"
		   asp-route-currentPage="@previousPage"
		   asp-route-make="@Model.Make"
		   asp-route-searchTerm="@Model.SearString"
		   asp-route-sorting="@((int)Model.CarSorting)"><<</a>
	</div>
	@{
		bool shouldNextPageBeDisabled = Model.CurrentPage + 1 >= maxPage || !Model.Cars.Any();
	}
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
		<a class="btn btn-primary @(shouldNextPageBeDisabled ? "disabled" : null) me-2" style="font-size: 12px; padding: 13px 13px; height:fit-content"
		   asp-controller="Car"
		   asp-action="All"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-make="@Model.Make"
		   asp-route-searchTerm="@Model.SearString"
		   asp-route-sorting="@((int)Model.CarSorting)">>></a>
	</div>
</div>

<style>
	.btn.btn-primary.disabled.ms-2 {
		display: none;
	}

	.btn.btn-primary.disabled.me-2 {
		display: none;
	}

	.card-img-top {
		object-fit: cover;
		height: 312px;
	}
</style>

@if (!Model.Cars.Any())
{
	<h2 class="text-center">No cars found by the given criteria!</h2>
}
<div class="row">
	@foreach (var house in Model.Cars)
	{
		<partial name="_CarPartial" model="@house" />
	}
</div>